node_modules

# Output
.output
.vercel
.netlify
.wrangler
.well-known/
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Workflows
_workflows.ts
/.swc
