# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# typedoc-generated API reference pages
/content/docs/api-reference/*/api/

# pagefind
_pagefind/

# tarballs
*.tgz
.env*.local
